# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Test & coverage outputs
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# VSCode and system files
.vscode/
.DS_Store

# Dependency lock files
poetry.lock
Pipfile.lock

# Log files
*.log
